.out{
    outline: none;
    box-shadow: 0 0 0 1.5px #d8dee9;
}
.learn-font{
  font-size:  0.75rem;
  color: rgb(179, 179, 179);
}
.content-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4;
}
.form-content{
    display: flex;
    flex-direction: column;
    gap: 5;
}
.optionval{
    width: 200px;
  margin-top: 20px;
  
}
.optionval:focus{
    outline: none !important;
    background-color: #d8dee9;

}
.css-13cymwt-control{
    border: 1px solid #d8dee9;
         background-color:rgb(243,244,246) !important;

}
.css-13cymwt-control:focus{
    outline: none !important;
    /* border: 1px solid rgb(243, 243, 11); */
}

.sss{
   
}