.chat{
   display: flex;
   flex-direction: column;
   gap: 10px;
   height: 100%;
   hr{
      border: none;
      height: 2px;
      background-color: #ddd;
      opacity: 0.1;
   }
   span{
    color: white;
   }    
   .remove{
    text-decoration: none;
    color: white;
   }

}