.sidebar {
  overflow: hidden;
  transition: width 0.3s ease;
  
}


.sidebar-show {
  width: 250px; 
}

.sidebar-hide {
  width: 20%;
}
.iconhover-color:hover{
    background-color: blue;

}
.gow{
  background-color:  rgb(52, 58, 64);
  width: 14%;
  
}
.change-cur{
  cursor: pointer;
}
@media screen and (max-width:768px){
  .gow{
     background-color:  rgb(52, 58, 64);
        /* width: 8%; */
  }
  
}
.width-left{
  width: 86%;
}