
  .container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    align-items: end;}

   .pro{
    /* border: 1px solid black; */
    width: 250px;
    line-height: 50px;
    text-align: center;
    position: relative;
    border-radius: 3px;
    top: 100px;
   }

    .form-box {
      width: 300px;
        border: 1px solid #dee2e6;
      padding: 20px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
   .centered-form {
  height: 100vh;
 
  
  /* or 100% if parent has defined height */
}

.bcolor{
  background-color: #353b48;
   /* height: 90vh; */
   color: #ffffff;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: rgb(220, 243, 89) !important;
}
.slider-container {
      overflow: hidden;
      width: 100%;
       display: flex;
      align-items: end;
         height: 80vh; 
    }

    .slider-track {
      display: flex;
   
      gap: 20px;
      width: max-content;
      animation: scrollLeft 30s linear infinite;
    }

    .slider-track img {
      width: 300px;
      height: 300px;
      border-radius: 10px;
    }
     @keyframes scrollLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
    .homep{
      width: 500px;
    }