
.container{
   display: flex;
   flex-direction: column;
   gap: 20px;
   align-items: center;}
   .pro{
    /* border: 1px solid black; */
    width: 250px;
    line-height: 50px;
    text-align: center;
    position: relative;
    border-radius: 3px;
    top: 100px;
   }

    .form-box {
      width: 300px;
        border: 1px solid #dee2e6;
      padding: 20px;
      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
   .centered-form {
  height: 100vh;
 
  
  /* or 100% if parent has defined height */
}
/* .bg { */
  /* background-image: url('/votes.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 1280px;
  
} */
.bcolor{
  background-color: #353b48;
   /* height: 90vh; */
   color: #ffffff;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: rgb(220, 243, 89) !important;
}
