.bg{
   background-color: #C3EBFA;

}
.bgwhite{
    background-color: rgb(236, 241, 246);
   
}
.success{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kalai{
    display: flex;
    justify-content: center;
    gap: 50px;

}
.bg:hover{
    transform: scale(1.1);
    transition: 1s;
}
