
    .iconcolor{
    background-color: yellow;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
.opa{
    opacity: 70;
}
.close-button{
   font-size: 30px;
}
.close-button:hover{

   font-size: 30px;
      transform: rotate(360deg);
    transition: 1s;
   /* transform: rotate(360deg);
   transition: 1s; */

}
.contents{
   display: flex;
   justify-content: center;
}
.buttons-delete{
   display: flex;
   justify-content: center;
   gap: 20px;
}
.buttons-arrange{
   background-color: red;
   color: aliceblue;
   padding: 9px;
   width: 100px;
   border-radius: 3px;
}
.toas{
    position: fixed;
    top: 20px   ;
    right: 20px;
}
.ttt{
     background-color: rgb(224, 230, 228);
     color: black;
     padding: 5px,10px;
     min-width: 500px;
     border-radius: 3px;
     box-shadow: rgb(0,0,0,0.16) 0px 1px 4px;
     display: flex;
     align-items: center;
     justify-content: space-between;
    animation: slide 1s 1;
}
.toas span{
    font-size: 25px;
    cursor:pointer;
}
@keyframes slide {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}