
    .iconcolor{
    background-color: yellow;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
.opa{
    opacity: 70;
}
.close-button{
   font-size: 30px;
}
.close-button:hover{

   font-size: 30px;
      transform: rotate(360deg);
    transition: 1s;
   /* transform: rotate(360deg);
   transition: 1s; */

}
.contents{
   display: flex;
   justify-content: center;
}
.buttons-delete{
   display: flex;
   justify-content: center;
   gap: 20px;
}
.buttons-arrange{
   background-color: red;
   color: aliceblue;
   padding: 9px;
   width: 100px;
   border-radius: 3px;
}